{% load static %}
<div>

  <div class="MainContainAll">

    <button type="button" class="btn btn-primary float-end m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>

    <div>

      {% if write %}
      {% for writes in write %}

      <div class="col-md-3 m-5">

        <div class="card">

          <h5 class="card-header">{{writes.first_name}}</h5>

          <div>

            <p class="card-text">{{writes.departement}}</p>
            <h4>{{writes.grade}}</h4>
            <h4>{{writes.Dob}}</h4>

          </div>

        </div>

      </div>

      {% endfor %}
      {% else %}
      <p>No Data</p>
      {% endif %}

    </div>

  </div>

</div>