{% load static %}
<div>

  <div class="MainContainAll">

    <button type="button" class="btn btn-primary float-end m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>

    <div>

      {% if write %}
      {% for writes in write %}

      <div class="card" style="width: 18rem;">

        <!-- <img src="/media/{{writes.image}}" class="card-img-top" alt="..."> -->

        <div class="card-body">

          <h5 class="card-title">{{ writes.first_name }} {{ writes.last_name }}</h5>

          <p class="card-text">{{writes.Dob}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>

      </div>

      <img src="" alt="">

      {% endfor %}
      {% else %}
      <p>No Data</p>
      {% endif %}

    </div>

  </div>

</div>